.cripto.c.swp
.header.h.swp
cripto.exe
.clang-format
*.*.swap
*.pdf
vgcore.*
*.zip
*.tex
*.txt
*.log
Estegaejemplo.c
criptoImagen/hexa
rafa
Lena.bpm
estega.cpp
Lena.bmp
criptoImagen/file.bmp
criptoImagen/ho.bmp
